{% extends 'base.html' %}
{% block content %}
<div class="row m-4 p-4">
    <div class="col-12 text-center">
        <div class="row">
            <div class="col-12">
                <span class="h4 text-danger">
                    {{msg}}
                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <a href="{% url 'home' %}" class="btn btn-small btn-link text-muted">
                    Go to Homepage...
                </a>
            </div>
        </div>


    </div>
</div>
{% endblock %}