{% extends 'base.html' %}
{% block content %}
<div class="accordion w-100" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          {% if not uploaded %}
          1. Load Dataset
          {% endif %}
          {% if uploaded %}
          1. Loaded Dataset => {{file_name}}
          {% endif %}
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        {% if not uploaded %}
        <form method="POST" enctype="multipart/form-data">
          <!-- Very Important csrf Token -->
          {% csrf_token %}
          <div class="form-group form-group-sm">
            <label for="data_file">Select Dataset</label>
            <input type="file" class="form-control-file " id="data_file" name="data_file" accept=".csv, .data">
          </div>
          <button class="btn btn-sm btn-secondary" type="submit" id="submit_load">
            Load dataset...
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" id="spinner-load"></span>
          </button>
        </form>
        {% endif %}
        {% if uploaded %}
        <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">
          Load dataset again...
        </a>
        {% autoescape off %}
        <div class="col-12">
          <div class="row py-3">
            <div class="col-12">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="show-shape">
                <label class="custom-control-label" for="show-shape">Shape info</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="show-describe">
                <label class="custom-control-label" for="show-describe">Describe data</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="show-head">
                <label class="custom-control-label" for="show-head">Head data</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="show-sample">
                <label class="custom-control-label" for="show-sample">Sample data</label>
              </div>
            </div>
          </div>
          <div class="row py-3" id="shape">
            <ul>
              <li><span class="font-weight-bolder">Name dataset: </span>{{ file_name }}</li>
              <li><span class="font-weight-bolder">Rows count: </span>{{ df.n_rows }}</li>
              <li><span class="font-weight-bolder">Columns count: </span>{{ df.n_cols }}</li>
              <li><span class="font-weight-bolder">Column names: </span>{{ df.cols }}</li>
            </ul>
          </div>
          <div class="row" id="describe">
            <span class="h5 col-12">Describe data</span>
            <div class="col-12  table-responsive">{{ df.describe }}</div>
          </div>
          <div class="row" id="head">
            <span class="col-12 h5">Head data</span>
            <div class="col-12  table-responsive">{{ df.head }}</div>
          </div>
          <div class="row" id="sample">
            <span class="h5 col-12">Sample data</span>
            <div class="col-12  table-responsive">{{ df.sample }}</div>
          </div>

        </div>
        {% endautoescape %}

        {% endif %}
      </div>
    </div>
  </div>
  {% if uploaded %}
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Some placeholder content for the second accordion panel. This panel is hidden by default.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
      </div>
    </div>
  </div>
  {% endif %}
</div>
<script>
  $(function () {
    $("#spinner-load").toggleClass("d-none");

    $("#shape").show();
    $("#describe").hide();
    $("#head").hide();
    $("#sample").hide();

    $("#show-shape").prop("checked", true);

    $("#show-shape").change(() => {
      if ($("#show-shape").is(":checked")) {
        $("#shape").show()
      } else {
        $("#shape").hide()
      }
    });

    $("#describe").hide()

    $("#show-describe").change(() => {
      if ($("#show-describe").is(":checked")) {
        $("#describe").show()
      } else {
        $("#describe").hide()
      }
    });

    $("#show-head").change(() => {
      if ($("#show-head").is(":checked")) {
        $("#head").show()
      } else {
        $("#head").hide()
      }
    });

    $("#show-sample").change(() => {
      if ($("#show-sample").is(":checked")) {
        $("#sample").show()
      } else {
        $("#sample").hide()
      }
    });

    $("#submit_load").click(() => $("#spinner-load").toggleClass("d-none"));
  });
</script>

{% endblock %}