{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent m-0 small">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="/assistant/1?nav=true">1. Load Dataset</a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/assistant/2">2. Descriptive analysis</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        3. Target variable
      </li>
    </ol>
  </div>
  <div class="card-body p-5 m-4">
    <div class="row pb-4">
      <div class="col-12">

        <a id="back" href="/assistant/2" class="btn btn-sm btn-secondary">
          < Go to step 2 </a>
            <a id="next" href="/assistant/4" class="btn btn-sm btn-secondary">
              Go to step 4 >
            </a>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-12">
        <p class="h4">
          Target variable
        </p>
      </div>
    </div>
    {% if not cols %}
    <div class="text-center mt-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-12">
        <p class="h6">
          What is the target variable?
        </p>
        <select class="form-select form-select-sm" aria-label="" id="frm_target">
          <option value="-1" selected>Select a option</option>
          {% for v in cols %}
          <option value="{{forloop.counter0}}">{{v}}</option>
          {% endfor %}
        </select>
        <div class="invalid-feedback">
          You must select an option
        </div>
      </div>
    </div>

  </div>
</div>
<script>
  $(function () {
    $("#spinner-load").toggleClass("d-none");
    $("#next").click(
      (e) => {
        e.preventDefault();
        option = $("#frm_target").val();
        if(option == -1){
          $("#frm_target").addClass("is-invalid")
          return;
        }
        $(location).attr('href', '/assistant/4?target=' + option)
        
      }
    )
  });
</script>

{% endblock %}